/*
 *
 *  various style tweaks for calendar displays, room info block, and reservation form
 *
 */

#stanford-r25-reservation {
    margin-bottom: 0;
}

#stanford-r25-reservation .form-item {
    margin-top: 0;
    margin-bottom: 0;
}

#stanford-r25-reservation .form-submit {
    margin-top: 10px;
}

#calendar thead, #calendar thead th {
    background: #f5f5f5 none repeat scroll 0 0;
    color: #333;
}

#stanford-r25-room-info {
  display: flex;
  height: auto;
  margin-bottom: 15px;
}

#stanford-r25-room-info-form {
    margin-bottom: 10px;
}

#stanford-r25-room-photo {
    float: left;
    width: 150px;
    padding-right: 15px;
}

#stanford-r25-calendar {
  display: block;
}

.se3-hide {
    display: none;
}
.tippy-box[data-theme~='stanford-earth-r25'] {
  background-color: lightgoldenrodyellow;
  color: black;
}
.tippy-box[data-theme~='stanford-earth-r25'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: lightgoldenrodyellow;
}
.tippy-box[data-theme~='stanford-earth-r25'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: lightgoldenrodyellow;
}
.tippy-box[data-theme~='stanford-earth-r25'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: lightgoldenrodyellow;
}
.tippy-box[data-theme~='stanford-earth-r25'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: lightgoldenrodyellow;
}
